<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet" />
<!-- Bootstrap theme -->
<link href="../css/bootstrap-theme.css" rel="stylesheet" />
<title>KatalogKiller</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="page-header">
					<h1>
						Katalog Killer <small>Add company details.</small>
					</h1>
				</div>
				<div class="row clearfix">
					<div class="col-md-6 column">
						<form role="form" action="#" th:action="@{/companies/add.do}" method="post"
							enctype="multipart/form-data">
							<div class="form-group">
								<label for="companyName">Company Name</label><input
									class="form-control" id="companyName" name="companyName" type="text" />
							</div>
							<div class="form-group">
								<label for="email">Email address</label><input
									class="form-control" id="email" name="email" type="email" />
							</div>
							<div class="form-group">
								<label for="companyPhone">Phone number</label><input
									class="form-control" id="companyPhone" name="companyPhone" type="text" />
							</div>
							<div class="form-group">
								<label for="companyAddress">Address</label><input
									class="form-control" id="companyAddress" name="companyAddress" type="text" />
							</div>
							<div class="form-group">
								<label for="companyLogo">Company logo</label><input
									id="companyLogo" name="companyLogo" type="file" />
								<p class="help-block">Upload a logo(max size: 2MB).</p>
							</div>

							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
					<div class="col-md-6 column">
						<ol>
							<li>Add company name</li>
							<li>Add company phone number</li>
							<li>Add company email</li>
							<li>Add company address</li>
							<li>Add company logo</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
</body>
</html>